<template>
  <div class="container">
    <b-container fluid>

      <!-- navbar-1.vue -->
      <navbar/>

      <!-- jumbotron -->
      <b-jumbotron header="Add New Product"></b-jumbotron>
      <!-- Add New Product Form  -->
      <b-form @submit="onSubmit">
        <!-- Product url -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Product Url:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input type="text" v-model="form.url" required placeholder="Type url"></b-form-input>
          </b-col>
        </b-row>

        <!-- Product markup -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Markup:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input type="text" v-model="form.markup" required placeholder="Type markup"></b-form-input>
          </b-col>
        </b-row>

        <!-- Action Buttons -->
        <b-row class="my-1">
          <b-col sm="9">
          </b-col>
          <b-col sm="3">
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="secondary" v-on:click="cancel">Reset</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-container>
  </div>
</template>
<script>
    import axios from 'axios'
    export default {
        data() {

            return {
                form: {
                    markup: '',
                    url: '',
                },
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();
                let currentObj = this;
                axios.post('http://localhost:8091/api/products', this.form)
                    .then(function (response) {
                        currentObj.output = response.data;
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
                this.$bus.$emit('NewProduct', this.form);
                this.$router.redirect();
                window.location.replace('#/');
            },
            cancel: function() {
                this.form = null;
            }
        }
    };
</script>

<style>
  .container {
    width: 80%;
  }
</style>
