<template>
  <div class="container">
    <b-container fluid>
      <navbar/>
      <h3>Common Report</h3>
      <b-table  class="container" striped hover :items="items">
      </b-table>

    </b-container>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data() {
      return {
        report: {
          //products_num:0,
          //orders_num:0,
          //orders_sum:0
        },
        items:[
          //this.report
        ]
      }
    },

    mounted() {
      axios
        .get('http://localhost:8762/app/reports/common_report')
        .then(response => {this.items.push(response.data)});
      console.log(this.items)
    }
  }
</script>

<style>
  .container {
    width: 80%;
  }

  th {
    text-align: center;
  }
</style>
