<template>
  <div class="container">
    <b-container fluid>

      <!-- navbar-1.vue -->
      <navbar/>

      <!-- jumbotron -->
      <b-jumbotron header="Add New Order"></b-jumbotron>
      <!-- Add New Product Form  -->
      <b-form @submit="onSubmit">
        <!-- Product Name -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Client Name:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input type="text" v-model="form.clientName" required placeholder="..."></b-form-input>
          </b-col>
        </b-row>

        <!-- Product Description -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Client Comment:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input type="text" v-model="form.clientComment" required placeholder="..."></b-form-input>
          </b-col>
        </b-row>

        <!-- Product Description -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Client Address:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input type="text" v-model="form.clientAddress" required placeholder="..."></b-form-input>
          </b-col>
        </b-row>

        <!-- Product sum -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Total Price:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input type="number" v-model="total_price" required placeholder="..." disabled></b-form-input>
          </b-col>
        </b-row>

        <!-- Product quantity -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Total Quantity:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input v-model="form.totalQuantity" required placeholder="..."
                          @input="getTotalPrice"></b-form-input>
          </b-col>
        </b-row>

        <!-- Product -->
        <b-row class="my-1">
          <b-col sm="3">
            <label>Choose Product:</label>
          </b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-select class="mb-3" v-model="form.itemId"
                             :options="products"
                             required
                             placeholder="Choose relevant product"
                             value-field="id"
                             text-field="title"
                             @change="getTotalPrice"
              >

              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <!-- Action Buttons -->
        <b-row class="my-1">
          <b-col sm="9">
          </b-col>
          <b-col sm="3">
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="secondary" v-on:click="cancel">Reset</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-container>
  </div>
</template>
<script>

  import axios from 'axios'

  export default {
  data() {

    return {
      products:[],
      form: {
        clientName: '',
        clientComment: '',
        clientAddress: '',
        itemId: -1,
        totalPrice: 0,
        totalQuantity: 0
      },
      total_price:0
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      let currentObj = this;
      axios.post('http://localhost:8762/app/orders', this.form)
          .then(function (response) {
              currentObj.output = response.data;
          })
          .catch(function (error) {
              currentObj.output = error;
          });
      this.$bus.$emit('NewProduct', this.form);
      this.$router.push('/#')
    },
    getProducts(){
      axios
        .get('http://localhost:8091/api/products')
        .then(response => {
          this.products = response.data
        });
    },
    getTotalPrice(){
      if(this.form.itemId != -1) {
        this.total_price = this.products[this.form.itemId - 1].sellingPrice * this.form.totalQuantity;
        this.form.totalPrice = this.total_price;
      }
    },
    cancel: function() {
      this.form = null;
    }
  },
    mounted() {
    this.getProducts();
    }
  };
</script>

<style>
.container {
  width: 80%;
}
</style>
